
<div class="container" style="padding: 60px; background: #FFF; color: #000000; padding: 60px 150px 60px 150px;" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12" style="width: 100%;">
      <h1 style="color: #69727b;">Contacto</h1>
    </div>
    <div class="text-body-privacy col-12">
      <h2 style="text-align: justify; font-weight: normal; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          ¿EN QUÉ PODEMOS AYUDARTE?
      </h2>
      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          Para brindarte un mejor servicio, ponemos a tu disposición nuestro Chat en línea.
      </p>

      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          HORARIO DE ATENCIÓN EN OFICINA Lunes a viernes, de 08:00 am a 6:00 pm.
      </p>

      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          Atención telefónica Lunes a viernes, de 08:00 am a 6:00 pm.
      </p>
      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;" class="grid">
          <span class="col-2_sm-12_xs-12" style="padding: 0px;">Teléfonos:</span>
          <span class="col-10">+52 (81) 8331 5066</span>
          <span class="col-10" data-push-left="off-2_sm-0_xs-0">+52 (81) 8351 2931</span>
      </p>

      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          ¿Dudas o sugerencias? Déjanos un mensaje en nuestro buzón Alcont.
      </p>

    </div>
    <div class="" style="width: 100%;">
      <div class="" style="width: 100%;">
        <form class="" style="width: 100%;">
          <div class="grid">
            <mat-form-field class="col-4_sm-12_xs-12">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre Completo">
            </mat-form-field>

            <mat-form-field class="col-4_sm-12_xs-12">
              <mat-label>Correo electrónico*</mat-label>
              <input matInput placeholder="Correo electrónico">
            </mat-form-field>

            <mat-form-field class="col-4_sm-12_xs-12">
              <mat-label>Número de teléfono</mat-label>
              <input matInput placeholder="Número de teléfono">
            </mat-form-field>
          </div>

          <div class="grid" style="width: 100%; margin-top: 15px;">
            <mat-form-field class="col-12">
              <mat-label>Dudas y Comentarios</mat-label>
              <textarea matInput placeholder="Escribe aquí tus comentarios..." rows="10"></textarea>
            </mat-form-field>
          </div>
          <div class="grid">
            <button (click)="sendMail()" style="background: #7796a8;
              padding: 16px;
              text-decoration: none;
              color: #FFF;
              border: 1px solid;
              border-radius: 8px;
              font-size: 16px;
              margin-left: 14px;">
              Enviar
            </button>
          </div>
        </form>
        <!-- <div class="col-6_sm-12_xs-12">


        </div> -->
      </div>
    </div>
  </div>
</div>
