.contact-container {
  padding: 60px;
  background: #FFF;
  color: #000000;
  padding: 60px 150px 60px 150px;
}
.contact-text-line {
  margin: 0 0 19.44444px;
  line-height: 1.5;
  margin-bottom: 55px;
}
.send-button {
  background: #7796a8;
  padding: 16px;
  text-decoration: none;
  color: #FFF;
  border: 1px solid;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 14px;
}
