<div [@animationInOut]="'in'" class="container aboutUs-container" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12 W100">
      <h1 class="text-alcont-color">Quiénes somos</h1>
    </div>
    <div class="col-12">
      <p class="fSize16 fWeightNormal justify bmar55 text-line">
          <span class="fWeightBold">ALCONT DE MEXICO S.A. DE C.V.</span>
           , abrió sus puertas al público hace 10 años, cuando una mujer se dio cuenta de una necesidad
           latente de abastecer a la industria con productos de primera calidad en instrumentación
           y control y tableros eléctricos.
           Esta mujer habiendo incursionado en el mundo de la automatización industrial desde muy joven,
           se dio cuenta de que podría crear una disrupción en la forma de abastecer a la industria en estos
           sectores y empezó a crear alianzas con grandes proveedores alemanes para cubrir una plétora de
           necesidades que surgen constantemente, desde fábricas automotrices, industrias tratadoras de agua,
           caleras, e incluso el sector alimenticio.
      </p>
      <p class="fSize16 fWeightNormal justify bmar55 text-line">
          <span class="fWeightBold">MISIÓN:</span>
          Ser un proveedor líder especializado en el suministro de refacciones para automatización
          industrial con personal altamente calificado en soluciones integrales para su clientes y calidad el servicio.
      </p>
      <p class="fSize16 fWeightNormal justify bmar55 text-line">
          <span class="fWeightBold">VISIÓN:</span>
          Ser el líder nacional en comercialización de material eléctrico e instrumentación industrial,
          manteniendo siempre un alto nivel de integridad, calidad y eficiencia en el servicio al cliente.
          Somos una empresa en constante búsqueda de la excelencia con una gran red de distribución y soluciones
          dirigidas a cada cliente, empresa y usuario.
      </p>
    </div>
  </div>
</div>
