<div class="container" style="padding: 60px; background: #FFF; color: #000000; padding: 60px 150px 60px 150px;" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12" style="width: 100%;">
      <h1 style="color: #69727b;">Quiénes somos</h1>
    </div>
    <div class="col-12">
      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          <span style="font-weight: bold;">ALCONT DE MEXICO S.A. DE C.V.</span> Es una empresa con 10 años de experiencia en el mercado industrial.
          Manejamos productos para automatización y control y contamos con toda la asesoría técnica que requieren nuestros clientes.
          Nuestro servicio se distingue por la calidad humana, eficiencia, rapidez y precios competitivos a nivel nacional.
      </p>
      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5; margin-bottom: 55px;">
          <span style="font-weight: bold;">MISIÓN:</span> Ser un proveedor líder especializado en productos electrónicos y neumáticos para automatización industrial con personal
          altamente calificado en soluciones integrales para su empresa.
      </p>
    </div>
  </div>
</div>
