<div [@animationInOut]="'in'" class="container aboutUs-container" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12 W100">
      <h1 class="text-alcont-color">Quiénes somos</h1>
    </div>
    <div class="col-12">
      <p class="fSize16 fWeightNormal justify bmar55 text-line">
          <span class="fWeightBold">MISIÓN:</span>
          Ser un proveedor líder especializado en el suministro de refacciones para automatización
          industrial con personal altamente calificado en soluciones integrales para su clientes y calidad el servicio.
      </p>
      <p class="fSize16 fWeightNormal justify bmar55 text-line">
          <span class="fWeightBold">VISIÓN:</span>
          Ser el líder nacional en comercialización de material eléctrico e instrumentación industrial,
          manteniendo siempre un alto nivel de integridad, calidad y eficiencia en el servicio al cliente.
          Somos una empresa en constante búsqueda de la excelencia con una gran red de distribución y soluciones
          dirigidas a cada cliente, empresa y usuario.
      </p>
      <p class="fSize16 fWeightNormal justify text-line">
        <span class="fWeightBold">VALORES:</span>
      </p>
      <div class="grid">
        <div class="col-4">
          Honestidad
        </div>
        <div class="col-4">
          Responsabilidad
        </div>
        <div class="col-4">
          Calidad
        </div>
        <div class="col-4">
          Integridad
        </div>
        <div class="col-4">
          Excelencia
        </div>
        <div class="col-4">
          Pasion
        </div>
      </div>
    </div>
  </div>
</div>
