<div class="H100">
  <!-- TITLE -->
  <div align="center">
    <h1 class="article-modal-title">{{article.title}}</h1>
  </div>
  <!-- body -->
  <div class="grid">
    <div class="col-7_md-5_sm-12 article-modal-text">
      {{article.text}}
    </div>
    <div class="col-5_sm-12">
      <img class="article-modal-img" src="../../assets/img/articulo1.jpeg">
    </div>
  </div>
  <div class="grid-center mar28">
    <div class="col-4_sm-12 cHand close-modal-button" align="center" (click)="close()">
      Cerrar
    </div>
  </div>
</div>
