<div class="login-page">
  <div class="login-container">
    <!-- START IMAGE PROFILE -->
    <div class="W100 bmar20" align="center">
      <div class="image-profile-container">
        <img class="mar0 W100" src="../assets/img/ALCONT-LOGO.png">
        <label>ALCONT DE MÉXICO</label>
      </div>
    </div>
    <!-- START FORM -->
    <div class="form-login-container">
      <div class="bmar15 login-input">
        <label>Usuario</label>
        <input type="text" [(ngModel)]="email">
      </div>

      <div class="bmar15 login-input">
        <label>Contraseña</label>
        <input [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button class="ver-pass-button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <span class="ion fSize40" [ngClass]="hide ? 'ion-ios-eye' : 'ion-ios-eye-off'"></span>
      </button>
      </div>

      <div class="bmar15">
        <button class="cHand login-button" type="button" name="button" (click)="login()">LogIn</button>
      </div>
    </div>
  </div>
</div>
