<div class="login-page">
  <div class="login-container">
    <!-- START IMAGE PROFILE -->
    <div class="W100 bmar20" align="center">
      <div class="image-profile-container">
        <img class="mar0 W100" src="../assets/img/ALCONT-LOGO.png">
        <label>ALCONT DE MÉXICO</label>
      </div>
    </div>
    <!-- START FORM -->
    <div class="form-login-container">
      <div class="bmar15 login-input">
        <label>Usuario</label>
        <input type="text">
      </div>

      <div class="bmar15 login-input">
        <label>Contraseña</label>
        <input type="password">
      </div>

      <div class="bmar15">
        <button class="cHand login-button" type="button" name="button">LogIn</button>
      </div>
    </div>
  </div>
</div>
