<div class="parent-container">
  <!-- Toolbar -->
  <div role="banner" class="header-legend">
    <span>
      Bienvenido a la tienda oficial de Alcont de Mexico, Recuerda que nuestros productos se venden en USD.
    </span>
  </div>
  <!-- Menu -->
  <div class="primary-alcont-color W100 backWhite">
    <div class="grid W100 mar0">
    	<div (click)="goHome()" class="col-4 cHand" align="center" style="padding: 10px 0;">
          <h2 class="home-menu-title">ALCONT DE MÉXICO</h2>
      </div>
    	<div class="grid col-6 inline-flex pad0">
        <button class="fWeightNormal col option-header" mat-button [matMenuTriggerFor]="marcas">
                Marcas
        </button>

        <!-- Inicio menú de marcas -->
        <mat-menu #marcas="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="pepperl">PEPPERL + FUCHS</button>
          <button mat-menu-item >SPRECHER SCHUH</button>
          <button mat-menu-item [matMenuTriggerFor]="weidmuller">WEIDMÜLLER</button>
          <button mat-menu-item [matMenuTriggerFor]="eaton">EATON MOELLER</button>
          <button mat-menu-item [matMenuTriggerFor]="norgren">NORGREN</button>
        </mat-menu>
        <!-- Fin menú de marcas -->
        <!-- Inicio sub menú pepperl-->
        <mat-menu #pepperl="matMenu">
          <button mat-menu-item >Sensor Inductivo</button>
          <button mat-menu-item >Sensores Ultrasónicos</button>
          <button mat-menu-item >Sensor Fotoélectrico</button>
          <button mat-menu-item>Sensor Retroreflectivo</button>
          <button mat-menu-item>Sensor Óptico</button>
        </mat-menu>
        <!-- Fin sub menú pepperl -->
        <!-- Inicio sub menú weidmuller-->
        <mat-menu #weidmuller="matMenu">
          <button mat-menu-item >Clema de paso (Tres Niveles)</button>
          <button mat-menu-item >Clema Portafusible</button>
          <button mat-menu-item >Clema de Tierra</button>
          <button mat-menu-item>Clema de Paso</button>
          <button mat-menu-item>Clema Doble Piso</button>
          <button mat-menu-item>Tope para Clema</button>
          <button mat-menu-item>Etiquetas</button>
          <button mat-menu-item>Portaetiqueta</button>
          <button mat-menu-item>Accesorios</button>
          <button mat-menu-item>Clemas (Bloques Terminales)</button>
          <button mat-menu-item>Conectividad Électrica</button>
          <button mat-menu-item>Terminales</button>
          <button mat-menu-item>Herramientas</button>
        </mat-menu>
        <!-- Fin sub menú weidmuller -->
        <!-- Inicio sub menú eaton-->
        <mat-menu #eaton="matMenu">
          <button mat-menu-item >Botones</button>
          <button mat-menu-item >Switch</button>
          <button mat-menu-item >Contactores</button>
          <button mat-menu-item>Relevadores</button>
          <button mat-menu-item>Micros</button>
          <button mat-menu-item>Interruptores</button>
          <button mat-menu-item>LED's</button>
        </mat-menu>
        <!-- Fin sub menú eaton -->
        <!-- Inicio sub menú norgren-->
        <mat-menu #norgren="matMenu">
          <button mat-menu-item >Conectores</button>
          <button mat-menu-item >Filtros</button>
          <button mat-menu-item >Reguladores</button>
          <button mat-menu-item>Lubricadores</button>
        </mat-menu>
        <!-- Fin sub menú norgren -->
        <button (click)="goAboutus()" class="col option-header">
                Nosotros
        </button>
        <button (click)="goContact()" class="col option-header">
                Contacto
        </button>
        <button (click)="goQuestions()" class="col option-header">
                Preguntas Frecuentes
        </button>
      </div>
      <div class="col pad0"></div>
    </div>
  </div>
  <!-- Fin Menu Header  -->
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <!-- Footer -->
  <div class="page-footer pad30">
    <div class="container">
      <div class="grid">
        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Alcont de México</h3>
          <div class="w170">
            <span>Ofrecemos soluciones en automatización industrial Consulta con nuestros asesores técnicos. </span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Contacto</h3>
          <div class="w170">
            <span>pdeluna@alcont.com.mx</span>
            <span>tel (81) 83318055</span>
            <span>(81) 83512931 </span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Dirección</h3>
          <div class="w170">
            <span>Col. Hidalgo Monterrey, Nuevo León</span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12 cHand" (click)="goPrivacy()">
            <h3 class="white-text privacy-option">Aviso de Privacidad</h3>
        </div>
      </div>
    </div>
    <section class="divider">
      <div class="container">
        <div class="grid">
          <div class="col-1 bpad0">
            <a href="https://www.facebook.com/Alcontdemexico" target="_blank">
              <span class="ion ion-logo-facebook fbIcon"></span>
            </a>
          </div>

          <div class="col-12">
            <h5>© 2020, Alcont de México</h5>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- whatsapp chat -->
  <button class="open-button" (click)="chat()" [ngClass]="{'hideWhats': hide}">
    <span class="ion ion-logo-whatsapp fSize40 white" style="margin: -6px;"></span>
  </button>

  <div class="chat-popup" id="myForm"  [ngClass]="{'chatClosed': !chatView, 'chatOpen': chatView}">
    <form class="form-container">
      <div class="header-chat">
        <div class="grid">
          <div class="col-10">
            <h1 class="bmar0 bpad0">Hola!</h1>
            <p class="white header-text-chat">Si tienes alguna duda o comentario, no dudes en contactarnos.</p>
          </div>
          <div class="col-2">
            <span class="ion ion-md-close-circle fSize40 cHand" (click)="chat()"></span>
          </div>
        </div>

        <label for="msg"><b>Elige a quien enviar un mensaje.</b></label>

      </div>
      <div class="chat-container">
        <div class="grid contact-chat-row" (click)="sendMessage(528711357297)">
          <div class="col-3" align="center">
            <span class="ion ion-ios-contact primary-alcont-color fSize40"></span>
          </div>
          <div class="col-9 black">
            <span>
              Marco Meza
            </span>
            <br>
            <span>
              Desarrollador
            </span>
          </div>
        </div>
        <div class="grid contact-chat-row" (click)="sendMessage(528118217899)">
          <div class="col-3" align="center">
            <span class="ion ion-ios-contact primary-alcont-color fSize40"></span>
          </div>
          <div class="col-9 black">
            <span>
              Patricia B.
            </span>
            <br>
            <span>
              Sales
            </span>
          </div>
        </div>
        <div class="grid contact-chat-row" (click)="chatLive()">
          <div class="col-3" align="center">
            <span class="ion ion-ios-contact primary-alcont-color fSize40"></span>
          </div>
          <div class="col-9 black">
            <span>
              Hablar por chat live
            </span>
            <br>
            <span>

            </span>
          </div>
        </div>
      </div>

      <!-- <button type="button" class="btn cancel" (click)="chat()">Close</button> -->
    </form>
  </div>
</div>
