<div class="parent-container">
  <!-- Toolbar -->
  <div role="banner" style="
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Work Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;">
  <span style="padding: 10px 55px; cursor: default;">
    Bienvenido a la tienda oficial de Alcont de Mexico, Recuerda que nuestros productos se venden en USD.
  </span>
  </div>
  <!-- Menu -->
  <div class="" style="background-color: #fff; width: 100%; color: #3d6380;">
    <div class="grid" style="width: 100%; margin: 0px;">
    	<div class="col" align="center" style=" padding: 10px 0;">
        <a href="#" style="text-decoration: none; color: inherit;">
          <h2 style="font-weight: normal; padding: 10px; margin-bottom: 0; letter-spacing: 2px;">ALCONT DE MÉXICO</h2>
        </a>
      </div>
    	<div class="col" style="display: inline-flex; padding: 0;">
        <button class="fWeightNormal" mat-button [matMenuTriggerFor]="marcas"
         style="border: none; background: #FFF; cursor: pointer;
                 padding: 10px; color: #3d6380; font-size: 16px; letter-spacing: 2px;">
                Marcas
        </button>

        <!-- Inicio menú de marcas -->
        <mat-menu #marcas="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="pepperl">PEPPERL + FUCHS</button>
          <button mat-menu-item >SPRECHER SCHUH</button>
          <button mat-menu-item [matMenuTriggerFor]="weidmuller">WEIDMÜLLER</button>
          <button mat-menu-item [matMenuTriggerFor]="eaton">EATON MOELLER</button>
          <button mat-menu-item [matMenuTriggerFor]="norgren">NORGREN</button>
        </mat-menu>
        <!-- Fin menú de marcas -->
        <!-- Inicio sub menú pepperl-->
        <mat-menu #pepperl="matMenu">
          <button mat-menu-item >Sensor Inductivo</button>
          <button mat-menu-item >Sensores Ultrasónicos</button>
          <button mat-menu-item >Sensor Fotoélectrico</button>
          <button mat-menu-item>Sensor Retroreflectivo</button>
          <button mat-menu-item>Sensor Óptico</button>
        </mat-menu>
        <!-- Fin sub menú pepperl -->
        <!-- Inicio sub menú weidmuller-->
        <mat-menu #weidmuller="matMenu">
          <button mat-menu-item >Clema de paso (Tres Niveles)</button>
          <button mat-menu-item >Clema Portafusible</button>
          <button mat-menu-item >Clema de Tierra</button>
          <button mat-menu-item>Clema de Paso</button>
          <button mat-menu-item>Clema Doble Piso</button>
          <button mat-menu-item>Tope para Clema</button>
          <button mat-menu-item>Etiquetas</button>
          <button mat-menu-item>Portaetiqueta</button>
          <button mat-menu-item>Accesorios</button>
          <button mat-menu-item>Clemas (Bloques Terminales)</button>
          <button mat-menu-item>Conectividad Électrica</button>
          <button mat-menu-item>Terminales</button>
          <button mat-menu-item>Herramientas</button>
        </mat-menu>
        <!-- Fin sub menú weidmuller -->
        <!-- Inicio sub menú eaton-->
        <mat-menu #eaton="matMenu">
          <button mat-menu-item >Botones</button>
          <button mat-menu-item >Switch</button>
          <button mat-menu-item >Contactores</button>
          <button mat-menu-item>Relevadores</button>
          <button mat-menu-item>Micros</button>
          <button mat-menu-item>Interruptores</button>
          <button mat-menu-item>LED's</button>
        </mat-menu>
        <!-- Fin sub menú eaton -->
        <!-- Inicio sub menú norgren-->
        <mat-menu #norgren="matMenu">
          <button mat-menu-item >Conectores</button>
          <button mat-menu-item >Filtros</button>
          <button mat-menu-item >Reguladores</button>
          <button mat-menu-item>Lubricadores</button>
        </mat-menu>
        <!-- Fin sub menú norgren -->
        <button style="border: none; background: #FFF; cursor: pointer;
                     padding: 10px; color: #3d6380; font-size: 16px; letter-spacing: 2px;">
                <a href="/aboutus" class="none-decoration">Quienes somos</a>
        </button>
        <button style="border: none; background: #FFF; cursor: pointer;
                     padding: 10px; color: #3d6380; font-size: 16px; letter-spacing: 2px;">
                <a href="/contacto" class="none-decoration">Contacto</a>
        </button>
      </div>
      <div class="col" style="padding: 0;"></div>
    </div>
  </div>
  <!-- Fin Menu Header  -->
  <router-outlet></router-outlet>
  <!-- Footer -->
  <div class="page-footer" style="padding: 30px;">
    <div class="container">
      <div class="grid">
        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Alcont de México</h3>
          <div class="" style="width: 170px;">
            <span>Ofrecemos soluciones en automatización industrial Consulta con nuestros asesores técnicos. </span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Contacto</h3>
          <div class="" style="width: 170px;">
            <span>pdeluna@alcont.com.mx</span>
            <span>tel (81) 83318055</span>
            <span>(81) 83512931 </span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12">
          <h3 class="white-text">Dirección</h3>
          <div class="" style="width: 170px;">
            <span>Col. Hidalgo Monterrey, Nuevo León</span>
          </div>
        </div>

        <div class="col-3_md-4_sm-6_xs-12">
          <a href="/aviso-privacidad" style="text-decoration: none; color: inherit;">
            <h3 class="white-text">Aviso de Privacidad</h3>
          </a>
        </div>
      </div>
    </div>
    <section style="border-top: 1px solid #cacaca; padding-top: 16px;">
      <div class="container">
        <div class="grid">
          <div class="col-1" style="padding-bottom: 0px;">
            <a href="https://www.facebook.com/Alcontdemexico" target="_blank">
              <span class="ion ion-logo-facebook" style="font-size: 40px; color: #6495ed;"></span>
            </a>
          </div>

          <div class="col-12">
            <h5>© 2020, Alcont de México</h5>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- whatsapp chat -->
  <button class="open-button" (click)="chat()">
    <span class="ion ion-logo-whatsapp fSize40 white" style="margin: -6px;"></span>
  </button>

  <div class="chat-popup" id="myForm"  [ngClass]="{'chatClosed': !chatView, 'chatOpen': chatView}">
    <form class="form-container">
      <div class="header-chat">
        <div class="grid">
          <div class="col-10">
            <h1 class="bmar0 bpad0">Hola!</h1>
            <p class="white header-text-chat">Si tienes alguna duda o comentario, no dudes en contactarnos.</p>
          </div>
          <div class="col-2">
            <span class="ion ion-md-close-circle fSize40 cHand" (click)="chat()"></span>
          </div>
        </div>

        <label for="msg"><b>Elige a quien enviar un mensaje.</b></label>

      </div>
      <div class="chat-container">
        <div class="grid contact-chat-row" (click)="sendMessage(528711357297)">
          <div class="col-3" align="center">
            <span class="ion ion-ios-contact primary-alcont-color fSize40"></span>
          </div>
          <div class="col-9 black">
            <span>
              Marco Meza
            </span>
            <br>
            <span>
              Desarrollador
            </span>
          </div>
        </div>
        <div class="grid contact-chat-row" (click)="sendMessage(528118217899)">
          <div class="col-3" align="center">
            <span class="ion ion-ios-contact primary-alcont-color fSize40"></span>
          </div>
          <div class="col-9 black">
            <span>
              Patricia B.
            </span>
            <br>
            <span>
              Sales
            </span>
          </div>
        </div>
      </div>

      <!-- <button type="button" class="btn cancel" (click)="chat()">Close</button> -->
    </form>
  </div>
</div>
