<div class="container" style="padding: 60px; background: #FFF; color: #000000; padding: 60px 150px 60px 150px;" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12" style="width: 100%;">
      <h1 style=" color: #69727b;">Aviso de Privacidad</h1>
    </div>
    <div class="col-12">
      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5;">
        Estimado usuario, se le notifica que en cumplimiento con el Reglamento
        de la Ley Federal de Protección de Datos Personales en Posesión de los
        Particulares, las Políticas de Privacidad, <span style="font-weight: bold;">ALCONT DE MEXICO S.A. DE C.V.</span>
        se compromete a asegurar la privacidad de la información personal obtenida
        a través de sus servicios en línea. Somos una sociedad anónima y estamos
        ubicados en Privada Oswaldo Sánchez 804, Hidalgo, Monterrey Nuevo León, México 64290.
        Nuestro teléfono es (81) 8331 8055. Hacemos su conocimiento que los datos proporcionados
        por nuestros y proveedores será tratada con estricta confidencialidad.
      </p>

      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5;">
        Los datos que solicitamos de nuestros clientes, tales como RFC, Razón Social,
        nombre, número telefónico y dirección son utilizados para brindarle un servicio
        eficiente. Aperturas de líneas de crédito, actualización de datos fiscales y dar
        cumplimientos a obligaciones contraídas con nuestros clientes.
      </p>

      <p style="text-align: justify; font-weight: normal; font-size: 16px; color: #69727b;
                margin: 0 0 19.44444px; line-height: 1.5;">
        En términos de la Ley Federal De Protección De Datos Personales En Posesión
        De Los Particulares (LFPDPPP), a partir del 6 de Enero de 2012, usted podrá
        iniciar el procedimiento de protección de derechos ARCO ante el Instituto
        Federal de Acceso a la Información y Protección de Datos Personales (IFAI)
        dentro de los 15 días siguientes a la fecha en que ALCONT DE MEXICO S.A.DE C.V.
        de respuesta a su solicitud o, si transcurrido el término que señala la Ley,
        ALCONT DE MEXICO S.A.DE C.V. no diera respuesta a su solicitud.
      </p>

    </div>

  </div>
</div>
