<div [@animationInOut]="'in'" class="container brands-container" align="center">
  <div class="grid" align="center;">
    <div class="text-header col-12 W100">
      <h1 class="text-alcont-color">Marcas</h1>
    </div>
    <div class="col-4">
      <mat-card class="brand-card">
        <mat-card-header align="center" class="mat-card-brands-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="W100">Shiba Inu</mat-card-title> -->
        </mat-card-header>
        <img mat-card-image class="brand-card-img" src="../assets/img/weidmuller.png">
        <mat-card-content style="min-height: 120px;">
          <p class="card-article-info-text">
            Excelencia en productos alemanes para el armado y control de tableros eléctricos y todo lo necesario para
            equipamiento de PLC.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="grid W100" align="center">
              <div class="col-5_md-6_sm-12 cHand"  data-push-left="off-7_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                        color: #27a6dc;
                                        border: 1px solid #27a6dc;
                                        border-radius: 6px;">Ver Mas</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="brand-card">
        <mat-card-header align="center" class="mat-card-brands-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="W100">Shiba Inu</mat-card-title> -->
        </mat-card-header>
        <img mat-card-image class="brand-card-img" src="../assets/img/pepperl.jpeg">
        <mat-card-content style="min-height: 120px;">
          <p class="card-article-info-text">
            La marca alemana líder por excelencia y pionera en la creación de sensores:
            Ultrasónico, de proximidad, fotoelectricos, encoders, sensores de inclinación, etc.
            Todo para la automatización de planta.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="grid W100" align="center">
              <div class="col-5_md-6_sm-12 cHand"  data-push-left="off-7_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                        color: #27a6dc;
                                        border: 1px solid #27a6dc;
                                        border-radius: 6px;">Ver Mas</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="brand-card">
        <mat-card-header align="center" class="mat-card-brands-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="W100">Shiba Inu</mat-card-title> -->
        </mat-card-header>
        <img mat-card-image class="brand-card-img" src="../assets/img/eaton.jpeg">
        <mat-card-content style="min-height: 120px;">
          <p class="card-article-info-text">
            Productos y soluciones para arranque y protección de motores, mando y señalización (botonería),
            interruptores automáticos y un amplio portafolio de calidad alemana.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="grid W100" align="center">
              <div class="col-5_md-6_sm-12 cHand"  data-push-left="off-7_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                        color: #27a6dc;
                                        border: 1px solid #27a6dc;
                                        border-radius: 6px;">Ver Mas</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="brand-card">
        <mat-card-header align="center" class="mat-card-brands-header">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <!-- <mat-card-title style="W100">Shiba Inu</mat-card-title> -->
        </mat-card-header>
        <img mat-card-image class="brand-card-img" src="../assets/img/norgren.jpeg">
        <mat-card-content style="min-height: 120px;">
          <p class="card-article-info-text">
            Refacciones hidráulicas y Neumáticas de la más alta calidad.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="grid W100" align="center">
              <div class="col-5_md-6_sm-12 cHand"  data-push-left="off-7_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                        color: #27a6dc;
                                        border: 1px solid #27a6dc;
                                        border-radius: 6px;">Ver Mas</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
