
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alcont-primary: mat-palette($mat-indigo);
$alcont-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alcont-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$alcont-theme: mat-light-theme($alcont-primary, $alcont-accent, $alcont-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alcont-theme);

/* You can add global styles to this file, and also import other style files */
@import 'gridlex';

html, body { height: 100%; }
body { margin: 0; font-family: "Work Sans",sans-serif!important; }
:host {
  font-family:  "Work Sans", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  color: #69727b;
}
.subtitle {
  text-align: justify;
  font-weight: normal!important;
  margin: 0 0 19.44444px!important;
  line-height: 1.5!important;
  margin-bottom: 55px!important;
}
// colors
.primary-alcont-color {
  color: #7796a7;
}
.blue-alcont-color {
  color: #27a6dc;
}
.text-alcont-color {
  color: #69727b;
}
.black {
  color: #000;
}
.white {
  color: #FFF;
}

// background colors
.backWhite {
  background-color: #FFF!important;
}
// Percent Whidth's
.W100 {
  width: 100%!important;
}

.W60 {
  width: 60%!important;
}

// Percent Height's
.H80 {
  height: 80%!important;
}

.H100 {
  height: 100%!important;
}
// px widht's
.w170 {
  width: 170px!important;
}
// px height's
.h360 {
  height: 360px!important;
}

.h400{
  height: 400px;
}
.h600{
  height: 600px;
}
.h620{
  height: 620px;
}

// max s Widths

.maxW650 {
  max-width: 650px!important;
}
// Font sizes
.fSize40 {
  font-size: 40px;
}
.fSize16 {
  font-size: 16px!important;
}
.fSize25 {
  font-size: 25px!important;
}
.fSize120 {
  font-size: 120px!important;
}

// Font weights
.fWeightNormal {
  font-weight: normal;
}
.fWeightBold {
  font-weight: bold;
}
// cursors
.cHand {
  cursor: pointer;
}

// margins
.mar0 {
  margin: 0!important;
}

.mar20{
  margin: 20px!important;
}
.mar28 {
  margin: 28px!important;
}
// top margins
.tmar15 {
  margin-top: 15px;
}
.tmar60 {
  margin-top: 60px;
}
// bottom margins
.bmar0{
  margin-bottom: 0!important;
}
.bmar55 {
  margin-bottom: 55px!important;
}
// paddings
.pad0 {
  padding: 0!important;
}
.pad30 {
  padding: 30px;
}
// same side pads
.sidePads50{
  padding-left: 50px;
  padding-right: 50px;
}
// bottom paddings
.bpad0{
  padding-bottom: 0!important;
}

// aligns
.justify {
  text-align: justify;
}
.centered {
  text-align: center;
}

// positions

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
// flex styles
.inline-flex {
  display: inline-flex;
}
.none-decoration {
  text-decoration: none!important;
  color: inherit!important;
}
.fbIcon {
  font-size: 40px;
  color: #6495ed;
}

.fbIcon:hover {
  transform: scale(1.20);
  color: #0073b1;
  transition: transform .8s, color 1s;
}

.lnIcon {
  font-size: 40px;
  color: #0073b1;
}

.lnIcon:hover {
  transform: scale(1.20);
  color: #004165;
  transition: transform .8s, color 1s;
}

.instaIcon {
  font-size: 40px;
  color: #dc2743;
}

.instaIcon:hover {
  transform: scale(1.20);
  transition: transform .8s;
}

.twIcon {
  font-size: 40px;
  color: rgba(29,161,242,1.00);
}

.twIcon:hover {
  transform: scale(1.20);
  color: #0073b1;
  transition: transform .8s, color 1s;
}

.spacer {
  flex: 1;
}

.divider {
  border-top: 1px solid #cacaca;
  padding-top: 16px;
}

.text-line {
  margin: 0 0 19.44444px;
  line-height: 1.5;
}

.parent-container {
  color: white;
  font-weight: 600;
  // position: relative;
  // min-height: 100vh;
}

.container {
  min-height: 80vh;
}

.parent-container img {
  margin: 0 16px;
}

.parent-container #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.parent-container #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.mat-article-card {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 1px 0px 0px rgba(0, 0, 0, 0.08), -1px -2px 9px 4px rgba(0, 0, 0, 0.12)!important;
}
.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.card-info-text{
  color: rgba(105, 114, 123, 0.77);
  font-weight: 500;
  letter-spacing: 1px;
  display: -webkit-box;
}
.card-article-info-text{
  color: rgba(105, 114, 123, 0.77);
  font-weight: 500;
  text-align: justify;
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.owl-carousel.owl-loaded {
  height: 100%;
}
.owl-carousel .owl-stage-outer {
  height: 100%;
}

owl-stage div {
  height: 100%;
}
.owl-carousel .owl-stage {
  height: 100%!important;
}

.owl-carousel .owl-item {
  height: 100%;
}
.owl-carousel .owl-item img {
  margin: 0!important;
  height: 100%;
}

.owl-theme .owl-nav {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: none;
}

.owl-theme .owl-dots {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: linear-gradient(to right,
                rgba(80, 190, 190, 0.7) 0,
                rgba(0, 153, 153, 0.7) 50%,
                rgba(0, 153, 176, 0.7) 83%,
                rgba(0, 153, 203, 0.7) 100%)!important;
    -webkit-transform : rotate(90deg) scale(1.4); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(90deg) scale(1.4); /* IE 9 */
    transform         : rotate(90deg) scale(1.4);
    transition: transform .8s, background .8s;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    margin-left: 100px;
    background: #adadad;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transform : scale(1); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : scale(1); /* IE 9 */
    transform         : scale(1);
    transition: opacity 0.5s ease, transform .8s, background .8s;
    border-radius: 20px;
}

.owl-carousel .owl-item::before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3d4246;
    opacity: 0.46;
    z-index: 2;
}

.owl-prev {
    background: #0000006b!important;
}

.owl-next {
    background: #0000006b!important;
}

.page-footer {
  background: #FFF;
  color: #000;
}

.hideWhats {
  display: none!important;
}

.mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px!important;
}
.example-header-image {
  background-image: url("assets/img/star1.png");
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
