<div [@animationInOut]="'in'"  class="carousel-container">
  <owl-carousel-o [options]="customOptions" class="W100 H100">
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12">
             ALCONT DE MÉXICO <br>
            <span>Asesoría Técnica y Soluciones Integrales </span>
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_1.png">
      </ng-template>
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12">
             ALCONT DE MÉXICO <br>
            <span>Tu Aliado Comercial </span>
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_2.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12">
             ALCONT DE MÉXICO <br>
            <span>Optmiza Tus Líneas de Producción </span>
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_4.jpeg">
      </ng-template>
    </owl-carousel-o>
</div>
