<div [@animationInOut]="'in'" class="container backWhite black">
  <div  class="carousel-container">
    <owl-carousel-o [options]="customOptions" class="W100 H100">
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12 cHand" (click)="scroll(areas)">
            ALCONT DE MÉXICO <br>
            <span>Enfoque en áreas de importancia</span>
            <!-- <span>Asesoría Técnica y Soluciones Integrales</span> -->
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_1.png">
      </ng-template>
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12 cHand" (click)="scroll(noticias)">
            ALCONT DE MÉXICO <br>
            <span>Te mantiene informado con innovación técnologica</span>
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_2.jpg">
      </ng-template>
      <ng-template carouselSlide>
        <div align="center" class="grid-middle carousel-text-container">
          <h1 class="col-12 cHand" (click)="scroll(videos)">
            ALCONT DE MÉXICO <br>
            <span>Optimiza Tus Líneas de Producción </span>
          </h1>
        </div>
        <img src="../assets/img/PARA_USAR_4.jpeg">
      </ng-template>
    </owl-carousel-o>
  </div>

    <div class="tmar60">
      <div class="text-header col-12 W100">
        <h1 class="text-alcont-color" align="center">Áreas de Enfoque</h1>

        <div class="grid" #areas>
          <div class="col-4_md-6_sm-12">
            <mat-card class="centered h400">
              <div class="">
                <span class="ion ion-ios-contact blue-alcont-color fSize120"></span>
              </div>
              <div class="">
                <h2 class="primary-alcont-color">Desarrollo de Personal</h2>
              </div>
              <div class="">
                <p class="card-info-text">
                  Es relevante para nuestra empresa que el equipo de trabajo
                  se encuentre en capacitación constante tanto en el área técnica
                  como en actividades que contribuyan a su desarrollo personal,
                  en un entorno tan dinámico como la industria es necesario impulsar
                  a nuestro personal a ser líderes y aportar conocimiento en cada una de sus áreas.
                </p>
              </div>
            </mat-card>
          </div>
          <div class="col-4_md-6_sm-12">
            <mat-card class="centered h400">
              <div class="">
                <span class="ion ion-ios-lock blue-alcont-color fSize120"></span>
              </div>
              <div class="">
                <h2 class="primary-alcont-color">Seguridad</h2>
              </div>
              <div class="">
                <p class="card-info-text">
                  Nuestra aportación para prevenir y limitar los posibles
                  riesgos en el contagio COVID-19 tomamos medidas de seguridad
                  como el uso de caretas, cubrebocas y otorgamos gel antibacterial
                  a nuestro equipo de trabajo durante las entregas de material y visitas a planta.
                </p>
              </div>
            </mat-card>
          </div>
          <div class="col-4_md-6_sm-12">
            <mat-card class="centered h400">
              <div class="">
                <span class="ion ion-ios-timer blue-alcont-color fSize120"></span>
              </div>
              <div class="">
                <h2 class="primary-alcont-color">Eficiencia</h2>
              </div>
              <div class="">
                <p class="card-info-text">
                  Siempre estamos potenciando diferentes dinámicas en el que las
                  interacciones y la confianza entre los integrantes de nuestra empresa,
                  sean el motor de la compañía. Estos puntos que trabajamos de forma interna,
                  nos permiten una mayor calidad de todas actividades que se realizan en cada una de las áreas.
                </p>
              </div>
            </mat-card>
          </div>
        </div>

        <div class="grid-center tmar60 sidePads50" #noticias>
          <div class="col-5_md-8_sm-10_xs-12 h620 bmar55 mar20">
            <mat-card class="h620 bmar55 mat-article-card">
              <mat-card-header style="margin-bottom: 5px;">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="mar0" style="padding-top: 10px;">Aplicación Sensor Ultrasónico en Tanque.</mat-card-title>
                <!-- <mat-card-subtitle>Patricia de Luna Bertaud</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image style="max-height: 325px!important;" src="../assets/img/articulo1.jpeg" alt="starIcon">
              <mat-card-content>
                <p class="card-article-info-text">
                  {{articleCard.text}}
                </p>
              </mat-card-content>
              <mat-card-actions style="padding-left:10px; padding-right: 10px;">
                <div class="grid" align="center">
                    <div class="col-3_md-6_sm-12 cHand"  data-push-left="off-9_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                              color: #27a6dc;
                                              border: 1px solid #27a6dc;
                                              border-radius: 6px;" (click)="showArticle()">Ver Mas</div>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-5_md-8_sm-10_xs-12 h620 bmar55 mar20">
            <mat-card class="h620 bmar55 mat-article-card">
              <mat-card-header style="margin-bottom: 5px;">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="mar0" style="padding-top: 10px;">Aplicación Sensor Ultrasónico en Tanque.</mat-card-title>
                <!-- <mat-card-subtitle>Patricia de Luna Bertaud</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image style="max-height: 325px!important;" src="../assets/img/articulo1.jpeg" alt="starIcon">
              <mat-card-content>
                <p class="card-article-info-text">
                  El tanque de aceite está equipado con un sensor ultrasónico inteligente Pepperl +
                  Fuchs que monitorea continuamente el nivel de llenado del tanque y transfiere
                  los datos al sistema de control de nivel superior a través de IO-Link.
                  En base a esta retroalimentación de posición, las válvulas pueden mantener
                  la presión dentro de una décima parte de una barra y la posición con precisión de µm.
                  Ya sea que la tecnología de sensores Pepperl + Fuchs ya esté integrada en la planta o
                  necesite agregarse como una solución de actualización, las ventajas para los usuarios son claras:
                  las válvulas digitales pueden aumentar considerablemente la confiabilidad y reducir el consumo de energía,
                  y por lo tanto han elevado el listón para la planta hidráulica campo.
                </p>
              </mat-card-content>
              <mat-card-actions style="padding-left:10px; padding-right: 10px;">
                <div class="grid" align="center">
                    <div class="col-3_md-6_sm-12 cHand"  data-push-left="off-9_md-6_sm-0" align="center" style="padding: 8px 5px 8px 5px;
                                              color: #27a6dc;
                                              border: 1px solid #27a6dc;
                                              border-radius: 6px;">Ver Mas</div>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div class="grid-center tmar60 sidePads50" #videos>
          <div class="col-8_md-10_sm-12 maxW650">
            <mat-card class="h360">
              <iframe class="H100 W100" src="https://www.youtube.com/embed/9mG1bgs_ND0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
</div>
