.carousel-container {
  width: 100%;
  height: 508px;
  background: black;
}

.carousel-text-container {
  background: rgba(240, 248, 255, 0);
  position: absolute;
  width: 100%;
  margin: 0px!important;
  h1 {
    z-index: 2;
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.82);
    background: linear-gradient(to right,rgba(80,190,190,0.7) 0,rgba(0,153,153,0.7) 50%,rgba(0,153,176,0.7) 83%,rgba(0,153,203,0.7) 100%);
    padding-top: 12px;

    span {
      font-size: 24px;
    }
  }
}
